In [ ]:
Code by-NAUSHEEN FATIMA
Batch 7(Assignment Day 2
        )

In [ ]:
# list and its default function


lst =[2,4,6,7,8,99,111,56]
print("Original list=",lst)
lst.append(999);
print("appened List=",lst)

lst.insert(2,500)
print("New  item added at postion 2= ",lst)

lst2=['a','f','g','t']

lst.extend(lst2)
print("Extended list =",lst)

lst3=[4,5,6,7,3,5,5,3,54,5,5,4,7,89,7,5,5,4,5,5,]

print("summation function =",sum(lst3))
print("count the occurance of 5=",lst3.count(5))

Original list= [2, 4, 6, 7, 8, 99, 111, 56]
appened List= [2, 4, 6, 7, 8, 99, 111, 56, 999]
New  item added at postion 2=  [2, 4, 500, 6, 7, 8, 99, 111, 56, 999]
Extended list = [2, 4, 500, 6, 7, 8, 99, 111, 56, 999, 'a', 'f', 'g', 't']
summation function = 233
count the occurance of 5= 9

In [ ]:
#Dictionary and its default function

dictt= {1:'Python',2:'JavaScript',3:'Java',4:'C++',5:'DBMS'}
print("Dictionary=",dictt)

print("1get function, return the value at particular key=",dictt.get(4))
dictt[5]={6:'C'}
print(dictt)
print("return keys =",dictt.keys())
print('pop element from dict=',dictt.pop(1))
del dictt[2]
print('After Deleting a key value=', dictt)

Dictionary= {1: 'Python', 2: 'JavaScript', 3: 'Java', 4: 'C++', 5: 'DBMS'}
1get function, return the value at particular key= C++
{1: 'Python', 2: 'JavaScript', 3: 'Java', 4: 'C++', 5: {6: 'C'}}
return keys = dict_keys([1, 2, 3, 4, 5])
pop element from dict= Python
After Deleting a key value= {3: 'Java', 4: 'C++', 5: {6: 'C'}}

In [ ]:
#Sets and its default function
my_set = {1, 2, 3,4,5,6,67}
print('Orginal set=',my_set)



my_set.add(99)
print('After adding 2=',my_set)


my_set.update([44,55,77])
print('updated set=',my_set)

my_set.discard(4)
print('After discard =',my_set)


my_set.remove(6)
print('After remove=',my_set)

set2={'a','d','f'}
print("Union of set =",my_set|set2)

Orginal set= {1, 2, 3, 4, 5, 6, 67}
After adding 2= {1, 2, 3, 4, 5, 6, 67, 99}
updated set= {1, 2, 3, 4, 5, 6, 67, 99, 44, 77, 55}
After discard = {1, 2, 3, 5, 6, 67, 99, 44, 77, 55}
After remove= {1, 2, 3, 5, 67, 99, 44, 77, 55}
Union of set = {1, 2, 3, 67, 5, 99, 'a', 44, 77, 'f', 'd', 55}

In [ ]:
#Tuple and its function

tupl= (4,5,6,7,'hi','hi','hi',8,9,9,777,44)
print("Original tuple=",tupl)
#slicing
print('After slicing',tupl[1:6])

print('Count the occurance of hi=',tupl.count('hi')) 
print('Return the postion of 777=',tupl.index(777))

print("return true if it is present=",'hi' in tupl)
del tupl  # delete the entire tuple

Original tuple= (4, 5, 6, 7, 'hi', 'hi', 'hi', 8, 9, 9, 777, 44)
After slicing (5, 6, 7, 'hi', 'hi')
Count the occurance of hi= 3
Return the postion of 777= 10
return true if it is present True

In [ ]:
#string and its function
str= 'Hello World'
print('Original string=',str)
print(str.capitalize)
#Accessing string characters in Python
print('str[-1] = ', str[-1])
print('str[5:-2] = ', str[5:-2])
print("Length of string=",len(str))

print(str.upper())
print(str.lower())
st = str.endswith('ld') 
print(st)

Original string= Hello World
<built-in method capitalize of str object at 0x7f7833f97970>
str[-1] =  d
str[5:-2] =   Wor
Length of string= 11
HELLO WORLD
hello world
True